<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-light">About</h1>
    <h4 class="text-center">I created this game to sharpen my Angular skills and to have a little fun playing
        against a bot.</h4>
    <h1 class="my-2 text-light">My Information</h1>
    <h2 class="my-2"><a href="https://www.linkedin.com/in/carlosviche/" target="_blank"
            rel="noreferrer noopener">Linkedin</a></h2>
    <h2 class="my-2"><a href="https://github.com/cviche/game" target="_blank" rel="noreferrer noopener">Github Code</a>
    </h2>
    <h2 class="my-2">Email: cviche@ucsc.edu</h2>
</div>