<div class="board-container d-flex flex-column align-items-center">
    <h1 class="text-light py-2">Reaction Game</h1>
    <score-card [totalScore]="playerScore" [playerName]="playerName"></score-card>
    <div class="score-card-container">
        <number-card @container *ngFor="let card of cards" [value]="card" [currentTurn]="currentTurn"></number-card>
    </div>
    <players-turn [playerName]="playerName"></players-turn>
    <score-card [totalScore]="botScore" [playerName]="'Bot'"></score-card>
</div>