<div @openClose class="modal-container d-flex align-items-center justify-content-center">
    <div class="rules-container">
        <div class="rules-header">
            <h2 class="rules-exit text-danger px-2 m-0" (click)="exitRules()">&#x2715;</h2>
            <h3 class="rules-text">Rules</h3>
        </div>
        <p class="text-center">You and the bot will each get three turns
            to choose a number. The way
            to win is to get the highest
            positive number when adding all the numbers you have chosen. </p>
        <p class="text-center">
            The catch is that one of three
            rules will be applied at the end
            of the game:</p>
        <p class="text-center">1.All numbers both players
            chose will be turned negative</p>
        <p class="text-center">2. Odd numbers the player chose will turn negative</p>
        <p class="text-center">3. Even numbers the player chose will turn negative</p>
        <form class="d-flex flex-column justify-content-center">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Enter Player Name" aria-label="Name"
                    aria-describedby="basic-addon1">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    I agree to the rules listed above.
                </label>
            </div>
            <button type="submit" class="btn btn-light align-self-center mb-4">Continue</button>
        </form>
    </div>
</div>