<div class="modal-container d-flex align-items-center justify-content-center">
    <div class="rules-container">
        <h3>Rules</h3>
        <p class="text-center">You and the bot will each get three turns
            to choose a number. The way
            to win is to get the highest
            positive number. </p>
        <p class="text-center">
            The catch is that one of three
            rules will be applied at the end
            of the game:</p>
        <p class="text-center">1.All numbers both players
            chose will be turned negative</p>
        <p class="text-center">2. Odd numbers the player chose will turn negative</p>
        <p class="text-center">3. Even numbers the player chose will turn negative</p>
        <form>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Enter Player Name" aria-label="Name"
                    aria-describedby="basic-addon1">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    I agree to the rules listed above.
                </label>
            </div>
            <button class="btn btn-light">Continue</button>
        </form>
    </div>
</div>